.reservation-form__step-six {
    display: flex;
    flex-direction: column;
}

.step-six__inner-container {
    padding: 1.6rem;
    background-color: var(--color-white);
}

.step-six__step-six-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.step-six__header-text {
    font-size: var(--font-2-6);
}

.step-six__step-six-content {
    display: grid;
}

.step-six__step-six-form-container {
    display: flex;
    flex-direction: column;
}

.step-six-form-container__step-six-line-container {
    font-size: var(--font-1-6);
    line-height: var(--line-150);
}

.step-six-line-container__step-six-line-title {
    color: var(--color-input-label);
}

.step-six-line-container__step-six-line-content {
    font-weight: bold;
}

.step-six__step-six-comments-container {
    font-size: var(--font-1-6);
    margin-bottom: 1rem;
}

.step-six-comments-container__title {
    color: var(--color-input-label);
}

.step-six__step-six-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media only screen and (min-width: 768px) {
    .reservation-form__step-six {
        border-radius: 6px;
    }

    .step-six__step-six-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
    }

    .step-six__inner-container {
        border-radius: 6px;
    }

    .step-six__step-six-footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}