.reservation-form__step-three {
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    box-shadow: 0px 34px 64px rgba(0, 0, 0, 0.09);
}

.step-three__step-three-container {
    padding: 1.6rem;
}

.step-three__step-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.step-three__header {
    font-size: var(--font-2-6);
}

.step-three__header-pb-2 {
    display: block;
    padding-bottom: 2rem;
}

.step-three__reservation-date-picker-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
}

.reservation-date-picker-container__reservation-time-picker {
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
    align-items: center;
    justify-items: center;
    font-size: var(--font-1-6);
}

.reservation-date-picker-container__reservation-am-pm-picker {
    // grid-area: time-right;

    // display: flex;
    // justify-content: space-evenly;
    // align-items: center;
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
    grid-template-areas: 'left middle right';
    font-size: 2.5rem;
}

.reservation-am-pm-picker__inner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .reservation-form__step-three {
        // grid-template-columns: 1fr 1fr;
        flex-direction: row;
        border-radius: 6px;
    }

    .step-three__step-three-container {
        width: 50%;
        padding: 2.5rem;
    }

    .step-three__step-three__outer-container {
        width: 50%;
    }

    .step-three__reservation-date-picker-container {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1.5rem;
        grid-template-areas:
        'date-left date-right'
        'time-left time-right'
        'submit-left submit-right';
    }

    .step-three__reservation-date-picker-container--reservation {
        grid-template-columns: 1.5fr 1fr;
    }

    .reservation-date-picker-container__reservation-date-picker {
        grid-area: date-left;
    }
    
    .reservation-date-picker-container__reservation-time-picker {
        grid-area: time-left;
    }
    
    .reservation-date-picker-container__reservation-am-pm-picker {
        grid-area: time-right;
        grid-template-columns: 1fr;
    }

    .reservation-am-pm-picker__inner-container {
        justify-content: space-evenly;
    }
    
    .reservation-form__submit-btn--step-three {
        grid-area: submit-right;
    }
}