.reservation-form__step-five {
    display: grid;
    grid-template-rows: 1fr 1fr;
    box-shadow: 0px 34px 64px rgba(0, 0, 0, 0.09);
}

.step-five__inner-container {
    padding: 1.6rem;
    background-color: var(--color-white);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.step-five__step-five-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.step-five__header-text {
    font-size: var(--font-2-6);
}

.step-five__step-five-form {
    display: grid;
    grid-template-columns: 1fr;
}

.step-five__pickup-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.step-five__dropoff-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.step-five__additional-info {
    display: grid;
}

.step-five__additional-info-form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.step-five__additional-info-header {
    min-width: 10rem;
    padding-right: 1rem;
}

.step-five__additional-info-input {
    min-width: 10rem;
    max-width: 15rem;
    -webkit-appearance: none;
}

.step-five__step-five-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media only screen and (min-width: 768px) {
    .reservation-form__step-five {
        border-radius: 6px;
    }

    .step-five__inner-container {
        padding: 2.5rem;
    }
    
    .step-five__step-five-form {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1.5rem;
    }

    .step-five__additional-info {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 2.5rem;
    }

    .step-five__step-five-footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}