.reservation-form__step-one {
    display: flex;
    width: 100%;
    max-width: 1280px;
    align-items: center;
    justify-content: center;
}

.step-one__car-photo-container {
    display: none;
    width: 100%;
}

.step-one__form {
    width: 100%;
    margin-right: 2%;
    position: relative;
    margin-top: 0;
    padding: 1.6rem;
    background-color: var(--color-white);
    box-shadow: 0px 34px 64px rgba(0, 0, 0, 0.09);
}

// .reservation-form__step-one {
//     display: block;
// }

// .reservation-form__step-two {
//     display: none;
// }

// check what is it doing
// #root > div > div.home > form > div > div:nth-child(1) > div > div:nth-child(1) > input[type=text] , #root > div > div.home > form > div > div:nth-child(1) > div > div:nth-child(2) > input[type=text]{
//     width: 100%;
//     padding: 1.6rem 2rem;
//     margin-bottom: 1rem;
//     border: 1px solid var(--color-input-border);
//     font-size: var(--font-1-6);
//     background-color: var(--color-input-background);
//     border-radius: 6px;
// }

.reservation-form__triangle {
    display: none;
    position: absolute;
    right: -49px;
    bottom: 25px;
    height: 0;
    width: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 25px solid transparent;
    border-left: 35px solid var(--color-white);
    background-color: transparent;
}

.reservation-form__input {
    width: 100%;
    padding: 1.6rem 2rem;
    margin-bottom: 1rem;
    border: 1px solid var(--color-input-border);
    font-size: 15px;
    background-color: var(--color-input-background);
}

.reservation-form__input--no-margin {
    margin-bottom: 0;
}

.reservation-form__submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background-color: var(--color-red);
}

.reservation-form__submit-text {
    color: var(--color-white);
    font-size: 1.6rem;
}

@media only screen and (min-width: 375px) {
    .reservation-form__submit-btn {
        padding: 1.6rem 2rem;
    }

    .reservation-form__submit-btn--new-form {
        padding: 1.6rem 2rem;
    }

    .reservation-form__submit-btn--no-margin {
        margin-top: 0;
    }

    .reservation-form__submit-text {
        font-size: 2rem;
        white-space: nowrap;
    }
}

@media only screen and (min-width: 768px) {
    .reservation-form__submit-text {
        font-size: 1.2rem;
    }
    
    .step-one__form {
        width: 43%;
        margin-top: -130px;
        padding: 2.5rem;
        box-shadow: 0.5rem 1.25rem 1.75rem 0 rgba(0,0,0,.3)
    }

    .step-one__car-photo-container {
        display: block;
        width: 55%;
        // margin-left: 50px;
    }

    // .reservation-form {
    //     width: 100%;
    //     max-width: 534px;
    //     padding: 2.5rem;
    // }

    .reservation-form__triangle {
        display: block;
    }
}

@media only screen and (min-width: 1024px) {
    .reservation-form__submit-text {
        font-size: 1.6rem;
    }

    // .reservation-form__step-one {
    //     position: absolute;
    //     top: 25vh;
    //     grid-template-columns: 1fr 1.5fr;
    //     grid-gap: 50px;
    //     flex-direction: row;
    //     justify-content: space-between;
    //     width: 67%;
    // }

    // .step-one__car-photo-container {
    //     display: block;
    //     width: 100%;
    //     margin-left: 50px;
    // }
}