@import '../placeholders';

.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1.6rem;
}

.navbar-mobile__logo-container {
    height: 4.5rem;
    margin-bottom: 1rem;
}

.navbar-mobile__menu {
    display: none;
}

.navbar-desktop {
    display: none;
    grid-template-columns: 1fr 1.2fr;
    grid-template-rows: 1fr;
    grid-gap: 10rem;
    // flex-direction: row;
    // align-items: center;
    max-width: 1280px;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
}

.navbar-desktop__navbar-desktop-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-desktop__logo-container {
    height: 3rem;
}

.call-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-red);
    padding: 8px 16px;
}

.call-btn--desktop-navbar {
    margin-left: 16px;
}

.call-btn--mobile {
    display: none;
}

.call-btn__phone-img-container {
    height: 1.6rem;
}

.call-btn__phone-img {
    height: 1.6rem;
}

.call-btn__text {
    font-size: var(--font-1-6);
    font-weight: bold;
    color: var(--color-white);
    margin-left: 10px;
    white-space: nowrap;
}

.navbar__navbar-links {
    display: flex;
    align-items: center;
}

.navbar-links__navbar-link {
    font-size: var(--font-1-6);
    color: var(--color-button);
    text-decoration: underline;
    padding-right: 16px;
    white-space: nowrap;
}

@media only screen and (min-width: 768px) {
    .call-btn--mobile {
        display: block;
    }
}

@media only screen and (min-width: 1024px) {
    .navbar-mobile {
        display: none;
    }

    .navbar-desktop {
        display: grid;
    }
}

@media only screen and (min-width: 1280px) {
    .navbar-links__navbar-link {
        padding-right: 4rem;
    }
}