.reservation-form {
    // display: grid;
    // grid-template-columns: 1fr;
    width: 100%;
    max-width: 1280px;
    margin-top: 8rem;
}

.step-one__car-photo-container {
    display: none;
}

@media only screen and (min-width: 768px) {
    .reservation-form {
        width: 67%;
        max-width: 1280px;
        margin-top: 40vh;
    }

    .step-one__car-photo-container {
        display: block;
        width: 100%;
        // margin-left: 50px;
    }
}