.about-us {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.about-us__description-container {
    display: none;
}

.about-us__header {
    font-size: var(--font-2-6);
    padding-left: 2rem;
}

.about-us__base-text {
    font-size: var(--font-1-6);
    line-height: var(--line-150);
    margin-top: 1.1rem;
    padding-left: 2rem;
}

.about-us__services {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.about-us-services__services-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3rem;
    margin-top: 2rem;
}

.services-container__item {
    position: relative;
}

.services-container__service-header {
    position: absolute;
    bottom: 0;
    background-color: rgba(86, 129, 143, 0.8);
    padding-bottom: .3rem;
    color: #fff;
    width: 100%;
    font-size: var(--font-2-2);
    line-height: var(--line-150);
    text-align: center;
    margin-top: 1.5rem;
}

.about-us__fleet {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.about-us-fleet__description {
    width: 100%;
    padding-bottom: 2rem;
}

.about-us-fleet_car-container {
    width: 100%;
    background-color: var(--color-blue);
    position: relative;
    height: 157px;
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us-fleet__car-img {
    position: absolute;
    bottom: -3rem;
    width: 90%;
}

@media only screen and (min-width: 1024px) {
    .about-us {
        margin-top: 0;
    }

    .about-us__description-container {
        display: block;
        width: 67%;
        max-width: 1280px;
        padding: 2rem 0 8rem 0;
    }

    .about-us__header {
        padding-left: 0;
    }

    .about-us__base-text {
        padding-left: 0;
    }

    .about-us__services {
        width: 67%;
        max-width: 1280px;
    }

    .about-us-services__services-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .services-container__service-header {
        position: static;
        background-color: transparent;
        padding-bottom: 0;
        color: #000;
    }

    .about-us__fleet {
        width: 67%;
        max-width: 1280px;
        flex-direction: row;
        padding-top: 8rem;
        padding-bottom: 8rem;
        margin-top: 0;
    }

    .about-us-fleet__description {
        width: 50%;
        padding-bottom: 0;
    }

    .about-us-fleet_car-container {
        min-height: 250px;
        width: 50%;
        height: auto;
        margin-top: 0;
        margin-bottom: 0;
    }

    .about-us-fleet__car-img {
        right: 4rem;
        // bottom: -3rem;
        // top: 1rem;
        width: 115%;
        height: auto;
    }

    .about-us-fleet__baset-text {
        font-size: var(--font-2-2);
        padding-right: 17rem;
    }

    // .about-us-fleet_car-container {
    //     width: 50%;
    // }

    // .about-us-fleet__car-img {
    //     width: 110%;
    //     height: auto;
    //     margin-left: -4rem;
    //     // padding-left: 4rem;
    // }

    // .about-us-fleet__baset-text {
    //     font-size: var(--font-2-2);
    //     padding-right: 4rem;
    // }
}