.home {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__home-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

// WELCOME CONTAINER WITH MAP
.home-content__outside-welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.home-content__welcome-container {
    display: flex;
    flex-direction: column;
}

.welcome-container__general-info {
    padding: 16px;
    font-size: var(--font-22);
    line-height: var(--line-150);
}

.welcome-content-container {
    display: flex;
    flex-direction: column;
}

.welcome-content-container__content {
    display: flex;
    flex-direction: column;
    background-color: var(--color-blue);
    padding: 40px;
    font-size: var(--font-22);
    line-height: var(--line-150);
}

.welcome-content-container__header {
    font-size: var(--font-3-2);
    color: var(--color-white);
}

.welcome-content-container__wheel-chair-transfer-text {
    margin-top: 40px;
    font-size: var(--font-2-2);
    line-height: var(--line-150);
}

.welcome-content-container__prices {
    font-size: var(--font-2-2);
    line-height: var(--line-150);
    color: var(--color-white);
}

.welcome-content-container__prices--black {
    color: var(--color-black);
}

.welcome-content-container__reduced-prices {
    font-size: var(--font-1-6);
    margin-top: 2rem;
}

.welcome-content-container__map-container {
    position: relative;
}

.welcome-content-container__reservation-btn {
    position: absolute;
    bottom: 35px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.welcome-content-container__map-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

// WELCOME CONTAINER WITHOUT MAP
.welcome-without-map__container {
    width: 100%;
    background-color: var(--color-blue);
}

@media only screen and (min-width: 1024px) {
    // .home__home-content {
    //     width: 80%;
    //     padding-top: 50px;
    // }

    // WELCOME CONTAINER WITH MAP
    .home-content__welcome-container {
        width: 67%;
        max-width: 1280px;
        padding-top: 2rem;
        padding-bottom: 8rem;
    }

    .welcome-container__general-info {
        padding: 0;
        margin-bottom: 6rem;
        font-size: var(--font-2-2);
    }

    .welcome-content-container {
        width: 100%;
        flex-direction: row;
    }

    .welcome-content-container__content {
        width: 50%;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }

    .welcome-content-container__map-container {
        width: 50%;
    }

    .welcome-content-container__reservation-btn {
        bottom: 50px;
    }

    .welcome-content-container__map-image {
        height: 100%;
        width: 100%;
        object-fit: cover;
        // border-top-right-radius: 6px;
        // border-bottom-right-radius: 6px;
    }

    @media only screen and (min-width: 768px) {
        .welcome-without-map__container {
            width: 67%;
            display: flex;
        }

        .welcome-without-map__content {
            width: 50%;
        }

        .welcome-without-map__car-container {
            width: 50%;
        }
    }
}