.home {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top {
    // background-image: url('/bg.jpg');
    height: 265px;
    width: 100%;
    background-image: url('../images/bg-mobile.png');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    // display: grid;
    // justify-items: center;
    // gap: 30px;
    // align-items: center;
}

.top__floating-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    // margin-left: auto;
    // margin-right: auto;
    // left: 0;
    // right: 0;
}

.top__car-photo-wrapper {
    display: none;
    // width: 500px;
    // margin-left: 50px;
}

.home__home-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.home-content__welcome-wrapper {
    display: flex;
    flex-direction: column;
}

.welcome-wrapper {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 768px) {
    .top {
        height: 547px;
        background-image: url('../images/bg.jpg');
    }
}

@media only screen and (min-width: 1024px) {
    .top__floating-wrapper {
        position: absolute;
        top: 300px;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
    }

    .top__car-photo-wrapper {
        display: block;
        width: 500px;
        // margin-left: 50px;
    }

    .home__home-content {
        width: 80%;
        padding-top: 80px;
    }

    .welcome-wrapper {
        flex-direction: row;
    }
}