.home {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top {
    // background-image: url('/bg.jpg');
    height: 265px;
    width: 100%;
    background-image: url('../images/bg-mobile.png');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    // display: grid;
    // justify-items: center;
    // gap: 30px;
    // align-items: center;
}

.top__floating-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    // margin-left: auto;
    // margin-right: auto;
    // left: 0;
    // right: 0;
}

.top__car-photo-container {
    display: none;
    // width: 500px;
    // margin-left: 50px;
}

.home__home-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.home-content__welcome-container {
    display: flex;
    flex-direction: column;
}

.welcome-container__general-info {
    font-size: var(--font-32);
    line-height: var(--line-150);
}

.welcome-container {
    display: flex;
    flex-direction: column;
}

.welcome-container__content {
    display: flex;
    flex-direction: column;
    background-color: var(--color-blue);
}

.home-content__mission-container {
    display: flex;
    flex-direction: column;
}

.mission-container__mission-photo {
    width: 100%;
}

.mission-container__mission-content {
    width: 100%;
    background-color: var(--color-light-blue);
}

@media only screen and (min-width: 768px) {
    .top {
        height: 547px;
        background-image: url('../images/bg.jpg');
    }
}

@media only screen and (min-width: 1024px) {
    .top__floating-container {
        position: absolute;
        top: 300px;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
    }

    .top__car-photo-container {
        display: block;
        width: 500px;
        // margin-left: 50px;
    }

    .home__home-content {
        width: 80%;
        padding-top: 80px;
    }

    .welcome-container {
        width: 100%;
        flex-direction: row;
    }

    .welcome-container__content {
        width: 50%;
    }

    .welcome-container__map-container {
        width: 50%;
    }

    .home-content__mission-container {
        width: 100%;
        flex-direction: row;
    }

    .mission-container__mission-photo {
        width: 50%;
    }

    .mission-container__mission-content {
        width: 50%;
    }
}