a {
  color: inherit;
}

/* Original reset file */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* Fix the bug that causes body go out of screen border and because of that horizontal scrolling. */
/* https://stackoverflow.com/a/42798283/5184474 */
html,
body {
  position: relative;
}

/* http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

body, p {
  margin: 0;
  font-family: Lato;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.img-fluid--no-width {
  height: auto;
  max-height: -webkit-fill-available;
}

.pointer {
  cursor: pointer;
}

.rounded {
  border-radius: 6px;
}

:root {
  --color-description: #9E9E9E;
  --color-button: #1F1D1D;
  --color-base: #000080;
  --color-red: #DF2C21;
  --color-blue: #80B9CD;
  --color-light-blue: #E3F2F8;
  --color-green: #4DDC40;
  --color-footer: #232121;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-input-border: #D1D1D1;
  --color-input-background: #F6F6F6;
  --font-16: 16px;
  --font-22: 22px;
  --font-26: 26px;
  --font-32: 32px;
  --font-44: 44px;
  --font-1: 1rem;
  --font-1-3: 1-3rem;
  --font-1-6: 1.6rem;
  --font-1-8: 1.8rem;
  --font-2: 2rem;
  --font-2-2: 2.2rem;
  --font-2-6: 2.6rem;
  --font-3-2: 3.2rem;
  --font-4-4: 4.4rem;
  --line-120: 120%;
  --line-150: 150%;
}

html {
  font-size: 62.5%;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-45 {
  margin-bottom: 45px;
}

.home {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__home-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.home-content__outside-welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.home-content__welcome-container {
  display: flex;
  flex-direction: column;
}

.welcome-container__general-info {
  padding: 16px;
  font-size: var(--font-22);
  line-height: var(--line-150);
}

.welcome-content-container {
  display: flex;
  flex-direction: column;
}

.welcome-content-container__content {
  display: flex;
  flex-direction: column;
  background-color: var(--color-blue);
  padding: 40px;
  font-size: var(--font-22);
  line-height: var(--line-150);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.welcome-content-container__header {
  font-size: var(--font-3-2);
  color: var(--color-white);
}

.welcome-content-container__wheel-chair-transfer-text {
  margin-top: 40px;
  font-size: var(--font-2-2);
  line-height: var(--line-150);
}

.welcome-content-container__prices {
  font-size: var(--font-2-2);
  line-height: var(--line-150);
  color: var(--color-white);
}

.welcome-content-container__prices--black {
  color: var(--color-black);
}

.welcome-content-container__reduced-prices {
  font-size: var(--font-1-3);
  margin-top: 2rem;
}

@media only screen and (min-width: 1024px) {
  .home-content__welcome-container {
    width: 67%;
    max-width: 1280px;
    padding-top: 14rem;
    padding-bottom: 8rem;
  }

  .welcome-container__general-info {
    padding: 0;
    margin-bottom: 6rem;
    font-size: var(--font-2-2);
  }

  .welcome-content-container {
    width: 100%;
    flex-direction: row;
  }

  .welcome-content-container__content {
    width: 50%;
  }

  .welcome-content-container__map-container {
    width: 50%;
  }
}
:root {
  --color-description: #9E9E9E;
  --color-button: #1F1D1D;
  --color-base: #000080;
  --color-red: #DF2C21;
  --color-blue: #80B9CD;
  --color-light-blue: #E3F2F8;
  --color-green: #4DDC40;
  --color-footer: #232121;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-input-border: #D1D1D1;
  --color-input-background: #F6F6F6;
  --font-16: 16px;
  --font-22: 22px;
  --font-26: 26px;
  --font-32: 32px;
  --font-44: 44px;
  --font-1: 1rem;
  --font-1-3: 1-3rem;
  --font-1-6: 1.6rem;
  --font-1-8: 1.8rem;
  --font-2: 2rem;
  --font-2-2: 2.2rem;
  --font-2-6: 2.6rem;
  --font-3-2: 3.2rem;
  --font-4-4: 4.4rem;
  --line-120: 120%;
  --line-150: 150%;
}

html {
  font-size: 62.5%;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-45 {
  margin-bottom: 45px;
}

.about-us {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us__description-container {
  width: 100%;
}

.about-us__header {
  font-size: var(--font-2-6);
}

.about-us__base-text {
  font-size: var(--font-1-6);
  line-height: var(--line-150);
  margin-top: 1.1rem;
}

.about-us__services {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.about-us-services__services-container {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 2rem;
}

.services-container__service-header {
  font-size: var(--font-2-2);
  line-height: var(--line-150);
  text-align: center;
  margin-top: 1.5rem;
}

.about-us__fleet {
  display: flex;
  flex-direction: column;
}

.about-us-fleet__description {
  width: 100%;
}

.about-us-fleet_car-container {
  width: 100%;
  background-color: var(--color-blue);
}

@media only screen and (min-width: 1024px) {
  .about-us__description-container {
    width: 67%;
    max-width: 1280px;
    padding-top: 20rem;
    padding-bottom: 80px;
  }

  .about-us__services {
    width: 67%;
    max-width: 1280px;
  }

  .about-us-services__services-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
  }

  .about-us__fleet {
    width: 67%;
    max-width: 1280px;
    flex-direction: row;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .about-us-fleet__description {
    width: 50%;
  }

  .about-us-fleet_car-container {
    min-height: 250px;
    width: 50%;
    position: relative;
  }

  .about-us-fleet__car-img {
    position: absolute;
    right: 4rem;
    bottom: -3rem;
    width: 115%;
    height: auto;
  }

  .about-us-fleet__baset-text {
    font-size: var(--font-2-2);
    padding-right: 17rem;
  }
}
.reservation {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-us {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-us__contact-us-content {
  width: 100%;
}

.contact-us__header {
  font-size: var(--font-2-6);
  margin-bottom: 2rem;
}

.contact-us__info {
  line-height: var(--line-150);
  font-size: var(--font-2-6);
}

.contact-us__info-header {
  color: #9E9E9E;
}

.contact-us__contact-form {
  margin-top: 2rem;
  padding: 2rem;
  background-color: var(--color-blue);
}

.contact-form__contact-form-inside-wrapper {
  display: grid;
  grid-template-columns: 1fr;
}

.contact-form-inside-wrapper__contact-left {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contact-form-inside-wrapper__contact-right {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contact-us__header--form {
  margin-bottom: 2rem;
  color: var(--color-white);
}

.contact-form__label {
  display: inline-block;
  margin-bottom: 1rem;
  font-size: var(--font-1-6);
}

.contact-form-group__input {
  width: 100%;
  padding: 1.6rem 2rem;
  margin-bottom: 1rem;
  border: 1px solid var(--color-input-border);
  font-size: var(--font-1-6);
  background-color: var(--color-input-background);
}

.contact-form-group__input--no-padding {
  margin-bottom: 0;
}

.contact-form-group__textarea {
  width: 100%;
  padding: 1.6rem 2rem;
  margin-bottom: 1rem;
  border: 1px solid var(--color-input-border);
  font-size: var(--font-1-6);
  background-color: var(--color-input-background);
}

.contact-form-group__contact-submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-color: var(--color-red);
}

.contact-submit-btn__text {
  font-size: var(--font-2-6);
  color: var(--color-white);
}

@media only screen and (min-width: 1024px) {
  .contact-us__contact-us-content {
    width: 67%;
    max-width: 1280px;
    padding-top: 20rem;
    padding-bottom: 80px;
  }

  .contact-us__contact-form {
    padding: 4rem;
  }

  .contact-form__contact-form-inside-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
  }

  .contact-form-inside-wrapper__contact-right {
    height: 100%;
  }

  .contact-us__contact-form-group--height-100 {
    height: 100%;
    overflow: hidden;
  }

  .contact-form-group__textarea {
    height: 100%;
  }
}
.reservation-form__step-one {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  max-width: 1280px;
}

.step-one__car-photo-container {
  display: none;
}

.step-one__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  padding: 16px;
  background-color: var(--color-white);
  box-shadow: 0px 34px 64px rgba(0, 0, 0, 0.09);
}

#root > div > div.home > form > div > div:nth-child(1) > div > div:nth-child(2) > input[type=text], #root > div > div.home > form > div > div:nth-child(1) > div > div:nth-child(3) > input[type=text] {
  width: 100%;
  padding: 1.6rem 2rem;
  margin-bottom: 1rem;
  border: 1px solid var(--color-input-border);
  font-size: var(--font-1-6);
  background-color: var(--color-input-background);
  border-radius: 6px;
}

.reservation-form__triangle {
  display: none;
  position: absolute;
  right: -49px;
  bottom: 25px;
  height: 0;
  width: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 25px solid transparent;
  border-left: 35px solid var(--color-white);
  background-color: transparent;
}

.reservation-form__input {
  width: 100%;
  padding: 1.6rem 2rem;
  margin-bottom: 1rem;
  border: 1px solid var(--color-input-border);
  font-size: var(--font-1-6);
  background-color: var(--color-input-background);
}

.reservation-form__submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-color: var(--color-red);
}

.reservation-form__submit-text {
  color: var(--color-white);
  font-size: var(--font-1-6);
}

@media only screen and (min-width: 400px) {
  .reservation-form__submit-btn {
    padding: 1.6rem 2rem;
    margin-top: 2rem;
  }

  .reservation-form__submit-text {
    font-size: var(--font-2);
    white-space: nowrap;
  }
}
@media only screen and (min-width: 768px) {
  .reservation-form {
    width: 100%;
    max-width: 534px;
    padding: 2.5rem;
  }

  .reservation-form__triangle {
    display: block;
  }
}
@media only screen and (min-width: 1024px) {
  .reservation-form__step-one {
    grid-template-columns: 1fr 1.5fr;
    grid-gap: 50px;
  }

  .step-one__car-photo-container {
    display: block;
    width: 100%;
  }
}
.reservation-form__step-two {
  display: flex;
  flex-direction: column;
}

.step-two__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  padding: 16px;
  background-color: var(--color-white);
  box-shadow: 0px 34px 64px rgba(0, 0, 0, 0.09);
}

.step-two__locations {
  font-size: var(--font-2-2);
  padding-bottom: 1rem;
}

.step-two__locations-text--red {
  color: var(--color-red);
}

.step-two__trip-cost-container {
  display: flex;
  align-items: center;
}

.step-two__info {
  font-size: var(--font-2);
  margin-right: 1rem;
}

.step-two__dollar-sign {
  font-size: var(--font-1-8);
}

.step-two__cost {
  font-size: var(--font-3-2);
}

@media only screen and (min-width: 768px) {
  .reservation-form__step-two {
    flex-direction: row;
  }
}
.reservation-form__step-three {
  display: flex;
  flex-direction: column;
}

.reservation-form__reservation-date-picker-container {
  display: flex;
  width: 50%;
}

.reservation-date-picker-container__reservation-date-picker {
  display: flex;
  flex-direction: column;
}

.reservation-date-picker-container__reservation-time-picker {
  display: flex;
}

@media only screen and (min-width: 768px) {
  .reservation-form__step-three {
    flex-direction: row;
  }
}
:root {
  --color-description: #9E9E9E;
  --color-button: #1F1D1D;
  --color-base: #000080;
  --color-red: #DF2C21;
  --color-blue: #80B9CD;
  --color-light-blue: #E3F2F8;
  --color-green: #4DDC40;
  --color-footer: #232121;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-input-border: #D1D1D1;
  --color-input-background: #F6F6F6;
  --font-16: 16px;
  --font-22: 22px;
  --font-26: 26px;
  --font-32: 32px;
  --font-44: 44px;
  --font-1: 1rem;
  --font-1-3: 1-3rem;
  --font-1-6: 1.6rem;
  --font-1-8: 1.8rem;
  --font-2: 2rem;
  --font-2-2: 2.2rem;
  --font-2-6: 2.6rem;
  --font-3-2: 3.2rem;
  --font-4-4: 4.4rem;
  --line-120: 120%;
  --line-150: 150%;
}

html {
  font-size: 62.5%;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-45 {
  margin-bottom: 45px;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px;
}

.navbar-mobile__logo-container {
  height: 45px;
}

.navbar-mobile__menu {
  display: none;
}

.navbar-desktop {
  display: none;
  grid-template-columns: 1fr 1.2fr;
  grid-template-rows: 1fr;
  grid-gap: 10rem;
  max-width: 1280px;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

.navbar-desktop__navbar-desktop-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-desktop__logo-container {
  height: 3rem;
}

.call-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-red);
  padding: 8px 16px;
  margin-left: 16px;
}

.call-btn--mobile {
  display: none;
}

.call-btn__phone-img-container {
  height: 1.6rem;
}

.call-btn__text {
  font-size: var(--font-1-6);
  font-weight: bold;
  color: var(--color-white);
  margin-left: 10px;
  white-space: nowrap;
}

.navbar__navbar-links {
  display: flex;
  align-items: center;
}

.navbar-links__navbar-link {
  font-size: var(--font-1-6);
  color: var(--color-button);
  text-decoration: underline;
  padding-right: 16px;
  white-space: nowrap;
}

@media only screen and (min-width: 768px) {
  .call-btn--mobile {
    display: block;
  }
}
@media only screen and (min-width: 1024px) {
  .navbar-mobile {
    display: none;
  }

  .navbar-desktop {
    display: grid;
  }
}
@media only screen and (min-width: 1280px) {
  .navbar-links__navbar-link {
    padding-right: 40px;
  }
}
.top {
  height: 265px;
  width: 100%;
  background-image: url("../images/bg-mobile.png");
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
}

@media only screen and (min-width: 768px) {
  .top {
    height: 60vh;
    background-image: url("../images/bg.jpg");
  }
}
.reservation-form {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  max-width: 1280px;
}

.step-one__car-photo-container {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .reservation-form {
    position: absolute;
    top: 25vh;
    width: 67%;
  }

  .step-one__car-photo-container {
    display: block;
    width: 100%;
  }
}
.home-content__outside-mission-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--color-light-blue);
}

.home-content__mission-container {
  display: flex;
  flex-direction: column;
}

.mission-container__mission-photo {
  width: 100%;
}

.mission-container__mission-content {
  width: 100%;
  padding: 16px;
}

.mission-content__text {
  font-size: var(--font-1-8);
  line-height: var(--line-150);
}

@media only screen and (min-width: 1024px) {
  .home-content__mission-container {
    width: 67%;
    max-width: 1280px;
    padding-top: 80px;
    padding-bottom: 80px;
    flex-direction: row;
  }

  .mission-container__mission-photo {
    width: 50%;
  }

  .mission-container__mission-content {
    width: 50%;
    padding: 0;
    margin-left: 3rem;
  }
}
:root {
  --color-description: #9E9E9E;
  --color-button: #1F1D1D;
  --color-base: #000080;
  --color-red: #DF2C21;
  --color-blue: #80B9CD;
  --color-light-blue: #E3F2F8;
  --color-green: #4DDC40;
  --color-footer: #232121;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-input-border: #D1D1D1;
  --color-input-background: #F6F6F6;
  --font-16: 16px;
  --font-22: 22px;
  --font-26: 26px;
  --font-32: 32px;
  --font-44: 44px;
  --font-1: 1rem;
  --font-1-3: 1-3rem;
  --font-1-6: 1.6rem;
  --font-1-8: 1.8rem;
  --font-2: 2rem;
  --font-2-2: 2.2rem;
  --font-2-6: 2.6rem;
  --font-3-2: 3.2rem;
  --font-4-4: 4.4rem;
  --line-120: 120%;
  --line-150: 150%;
}

html {
  font-size: 62.5%;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-45 {
  margin-bottom: 45px;
}

.footer {
  display: grid;
  place-items: center;
  width: 100%;
  background-color: var(--color-footer);
  padding: 16px;
  color: var(--color-white);
  font-size: 1.3rem;
}

.footer__content {
  display: grid;
  max-width: 1440px;
}

.footer-logos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__payment-logo-container {
  width: 80px;
  margin: 8px 35px;
}

.footer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: var(--line-120);
}

.footer-info__desktop {
  display: none;
}

.footer-info__terms {
  margin-top: 16px;
}

@media only screen and (min-width: 768px) {
  .footer {
    padding: 30px 0;
  }

  .footer__content {
    width: 80%;
    max-width: 1280px;
    grid-template-columns: 4fr 1fr;
  }

  .footer-info__mobile {
    display: none;
  }

  .footer-info__desktop {
    display: block;
  }

  .footer-info {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .footer-logos {
    grid-column: 2/3;
  }
}

/*# sourceMappingURL=main.css.map */
