a {
  color: inherit; }

/* Original reset file */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

/* Fix the bug that causes body go out of screen border and because of that horizontal scrolling. */
/* https://stackoverflow.com/a/42798283/5184474 */
html,
body {
  position: relative; }

/* http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

body, p {
  margin: 0;
  font-family: "Lato"; }

.img-fluid {
  width: 100%;
  height: auto; }

.img-fluid--no-width {
  height: auto;
  max-height: -webkit-fill-available; }

.pointer {
  cursor: pointer; }

.rounded {
  border-radius: 6px; }

#mapDiv > div > div > div:nth-child(10) {
  display: none !important; }

.directions-card {
  display: none !important; }

@media only screen and (min-width: 768px) {
  .rounded-desktop {
    border-radius: 6px; } }
:root {
  --color-description: #9E9E9E;
  --color-button: #1F1D1D;
  --color-base: #000080;
  --color-red: #DF2C21;
  --color-blue: #80B9CD;
  --color-light-blue: #E3F2F8;
  --color-green: #4DDC40;
  --color-footer: #232121;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-input-border: #D1D1D1;
  --color-input-background: #F6F6F6;
  --color-input-label: #535353;
  --font-16: 16px;
  --font-22: 22px;
  --font-26: 26px;
  --font-32: 32px;
  --font-44: 44px;
  --font-1: 1rem;
  --font-1-3: 1.3rem;
  --font-1-6: 1.6rem;
  --font-1-8: 1.8rem;
  --font-2: 2rem;
  --font-2-2: 2.2rem;
  --font-2-6: 2.6rem;
  --font-3-2: 3.2rem;
  --font-4-4: 4.4rem;
  --line-120: 120%;
  --line-150: 150%; }

html {
  font-size: 62.5%; }

.mb-16 {
  margin-bottom: 16px; }

.mb-45 {
  margin-bottom: 45px; }

.App {
  display: flex;
  flex-direction: column;
  align-items: center; }

.mobile {
  display: flex;
  flex-direction: column; }

.desktop {
  display: none; }

@media only screen and (min-width: 768px) {
  .mobile {
    display: none; }

  .desktop {
    display: flex; } }
.home {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.home__home-content {
  width: 100%;
  display: flex;
  flex-direction: column; }

.home-content__outside-welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }

.home-content__welcome-container {
  display: flex;
  flex-direction: column; }

.welcome-container__general-info {
  padding: 16px;
  font-size: var(--font-22);
  line-height: var(--line-150); }

.welcome-content-container {
  display: flex;
  flex-direction: column; }

.welcome-content-container__content {
  display: flex;
  flex-direction: column;
  background-color: var(--color-blue);
  padding: 40px;
  font-size: var(--font-22);
  line-height: var(--line-150); }

.welcome-content-container__header {
  font-size: var(--font-3-2);
  color: var(--color-white); }

.welcome-content-container__wheel-chair-transfer-text {
  margin-top: 40px;
  font-size: var(--font-2-2);
  line-height: var(--line-150); }

.welcome-content-container__prices {
  font-size: var(--font-2-2);
  line-height: var(--line-150);
  color: var(--color-white); }

.welcome-content-container__prices--black {
  color: var(--color-black); }

.welcome-content-container__reduced-prices {
  font-size: var(--font-1-6);
  margin-top: 2rem; }

.welcome-content-container__map-container {
  position: relative; }

.welcome-content-container__reservation-btn {
  position: absolute;
  bottom: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

.welcome-content-container__map-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px; }

.welcome-without-map__container {
  width: 100%;
  background-color: var(--color-blue); }

@media only screen and (min-width: 768px) {
  .home-content__welcome-container {
    width: 67%;
    max-width: 1280px;
    padding-top: 2rem;
    padding-bottom: 8rem; }

  .welcome-container__general-info {
    padding: 0;
    margin-bottom: 6rem;
    font-size: var(--font-2-2); }

  .welcome-content-container {
    width: 100%;
    flex-direction: row; }

  .welcome-content-container__content {
    width: 50%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px; }

  .welcome-content-container__map-container {
    width: 50%; }

  .welcome-content-container__reservation-btn {
    bottom: 50px; }

  .welcome-content-container__map-image {
    height: 100%;
    width: 100%;
    object-fit: cover; }

  .welcome-without-map__container {
    width: 67%;
    display: flex; }

  .welcome-without-map__content {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem; }

  .welcome-without-map__header {
    font-size: 3rem;
    padding-bottom: 2rem; }

  .welcome-without-map__text {
    font-size: 1.6rem;
    line-height: 150%; }

  .welcome-without-map__car-container {
    width: 50%;
    position: relative; }

  .welcome-without-map__car-img {
    position: absolute;
    top: -5rem;
    right: -15rem; } }
@media only screen and (min-width: 1024px) {
  .welcome-without-map__header {
    font-size: 3.6rem; }

  .welcome-without-map__text {
    font-size: 2rem; } }
.about-us {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem; }

.about-us__description-container {
  display: none; }

.about-us__header {
  font-size: var(--font-2-6);
  padding-left: 2rem; }

.about-us__base-text {
  font-size: var(--font-1-6);
  line-height: var(--line-150);
  margin-top: 1.1rem;
  padding-left: 2rem; }

.about-us__services {
  width: 100%;
  display: flex;
  flex-direction: column; }

.about-us-services__services-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
  margin-top: 2rem; }

.services-container__item {
  position: relative; }

.services-container__service-header {
  position: absolute;
  bottom: 0;
  background-color: rgba(86, 129, 143, 0.8);
  padding-bottom: .3rem;
  color: #fff;
  width: 100%;
  font-size: var(--font-2-2);
  line-height: var(--line-150);
  text-align: center;
  margin-top: 1.5rem; }

.about-us__fleet {
  display: flex;
  flex-direction: column;
  margin-top: 3rem; }

.about-us-fleet__description {
  width: 100%; }

.about-us-fleet_car-container {
  width: 100%;
  background-color: var(--color-blue);
  position: relative;
  height: 157px;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center; }

.about-us-fleet__car-img {
  position: absolute;
  z-index: 2;
  bottom: -3rem;
  width: 90%; }

@media only screen and (min-width: 400px) {
  .about-us-fleet__description {
    padding-bottom: 5rem; } }
@media only screen and (min-width: 1024px) {
  .about-us {
    margin-top: 0; }

  .about-us__description-container {
    display: block;
    width: 67%;
    max-width: 1280px;
    padding: 2rem 0 8rem 0; }

  .about-us__header {
    padding-left: 0; }

  .about-us__base-text {
    padding-left: 0; }

  .about-us__services {
    width: 67%;
    max-width: 1280px; }

  .about-us-services__services-container {
    grid-template-columns: 1fr 1fr 1fr; }

  .services-container__service-header {
    position: static;
    background-color: transparent;
    padding-bottom: 0;
    color: #000; }

  .about-us__fleet {
    width: 67%;
    max-width: 1280px;
    flex-direction: row;
    padding-top: 8rem;
    padding-bottom: 8rem;
    margin-top: 10rem; }

  .about-us-fleet__description {
    width: 50%;
    padding-bottom: 0; }

  .about-us-fleet_car-container {
    min-height: 250px;
    width: 50%;
    height: auto;
    margin-top: 0;
    margin-bottom: 0; }

  .about-us-fleet__car-img {
    right: 4rem;
    width: 115%;
    height: auto; }

  .about-us-fleet__baset-text {
    font-size: var(--font-2-2);
    padding-right: 17rem; } }
.reservation {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
  margin-bottom: 5rem; }

.contact-us {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  background-color: #E3F2F8; }

.contact-us__contact-us-content {
  width: 100%; }

.contact-us__header {
  font-size: var(--font-2-6);
  margin-bottom: 2rem;
  margin-left: 2rem; }

.contact-us__info {
  line-height: var(--line-150);
  font-size: var(--font-2-6);
  margin-left: 2rem; }

.contact-us__info-header {
  color: #9E9E9E; }

.contact-us__contact-form {
  margin-top: 2rem;
  padding: 2rem;
  background-color: #E3F2F8; }

.contact-form__contact-form-inside-wrapper {
  display: grid;
  grid-template-columns: 1fr; }

.contact-form-inside-wrapper__contact-left {
  width: 100%;
  display: flex;
  flex-direction: column; }

.contact-form-inside-wrapper__contact-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 1rem; }

.contact-us__header--form {
  margin-left: 0 !important;
  margin-bottom: 2rem;
  color: var(--color-black); }

.contact-form__label {
  display: inline-block;
  margin-bottom: 1rem;
  font-size: var(--font-1-6); }

.contact-form-group__input {
  width: 100%;
  padding: 1.6rem 2rem;
  margin-bottom: 1rem;
  border: 1px solid var(--color-input-border);
  font-size: var(--font-1-6);
  background-color: var(--color-input-background); }

.contact-form-group__input--no-padding {
  margin-bottom: 0; }

.contact-form-group__textarea {
  width: 100%;
  height: 20rem;
  padding: 1.6rem 2rem;
  margin-bottom: 1rem;
  border: 1px solid var(--color-input-border);
  font-size: var(--font-1-6);
  background-color: var(--color-input-background); }

.contact-form-group__contact-submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-color: var(--color-red); }

.contact-submit-btn__text {
  font-size: var(--font-2-6);
  color: var(--color-white);
  border: none;
  background-color: transparent; }

@media only screen and (min-width: 1024px) {
  .contact-us {
    padding-top: 5rem;
    background-color: #fff; }

  .contact-us__contact-us-content {
    width: 67%;
    max-width: 1280px;
    padding-top: 2rem;
    padding-bottom: 80px; }

  .contact-us__header {
    margin-left: 0; }

  .contact-us__info {
    margin-left: 0; }

  .contact-us__contact-form {
    padding: 4rem;
    border-radius: 6px;
    background-color: var(--color-blue); }

  .contact-form__contact-form-inside-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem; }

  .contact-form-inside-wrapper__contact-right {
    height: 100%;
    padding-top: 0; }

  .contact-us__header--form {
    color: var(--color-white); }

  .contact-us__contact-form-group--height-100 {
    height: 100%;
    overflow: hidden; }

  .contact-form-group__textarea {
    height: 100%; } }
.reservation-form__input-label {
  font-size: var(--font-1-3);
  color: var(--color-input-label);
  margin-bottom: 1rem; }

.reservation-form__input-label--no-margin {
  margin-bottom: 0; }

.reservation-footer-price-container__total {
  font-size: var(--font-2-2); }

.reservation-footer-price-container__dollar {
  font-size: var(--font-2); }

.reservation-footer-price-container__price {
  font-size: var(--font-2-6); }

.reservation-form__step-one {
  display: flex;
  width: 100%;
  max-width: 1280px;
  align-items: center;
  justify-content: center; }

.step-one__car-photo-container {
  display: none;
  width: 100%; }

.step-one__form {
  width: 100%;
  margin-right: 2%;
  position: relative;
  margin-top: 0;
  padding: 16px;
  background-color: var(--color-white);
  box-shadow: 0px 34px 64px rgba(0, 0, 0, 0.09); }

.reservation-form__triangle {
  display: none;
  position: absolute;
  right: -49px;
  bottom: 25px;
  height: 0;
  width: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 25px solid transparent;
  border-left: 35px solid var(--color-white);
  background-color: transparent; }

.reservation-form__input {
  width: 100%;
  padding: 1.6rem 2rem;
  margin-bottom: 1rem;
  border: 1px solid var(--color-input-border);
  font-size: 15px;
  background-color: var(--color-input-background); }

.reservation-form__input--no-margin {
  margin-bottom: 0; }

.reservation-form__submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-color: var(--color-red); }

.reservation-form__submit-text {
  color: var(--color-white);
  font-size: 1.6rem; }

@media only screen and (min-width: 375px) {
  .reservation-form__submit-btn {
    padding: 1.6rem 2rem; }

  .reservation-form__submit-btn--no-margin {
    margin-top: 0; }

  .reservation-form__submit-text {
    font-size: 2rem;
    white-space: nowrap; } }
@media only screen and (min-width: 768px) {
  .reservation-form__submit-text {
    font-size: 1.2rem; }

  .step-one__form {
    width: 43%;
    margin-top: -130px; }

  .step-one__car-photo-container {
    display: block;
    width: 55%; }

  .reservation-form__triangle {
    display: block; } }
@media only screen and (min-width: 1024px) {
  .reservation-form__submit-text {
    font-size: 1.6rem; } }
.reservation-form__step-two {
  display: grid;
  background-color: var(--color-white); }

.step-two__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  padding: 16px;
  box-shadow: 0px 34px 64px rgba(0, 0, 0, 0.09); }

.step-two__locations {
  font-size: var(--font-2-2);
  padding-bottom: 1rem; }

.step-two__locations-text--red {
  color: var(--color-red); }

.step-two__trip-cost-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem; }

.step-two__info {
  font-size: var(--font-2);
  margin-right: 1rem; }

.step-two__dollar-sign {
  font-size: var(--font-1-8); }

.step-two__cost {
  font-size: var(--font-3-2); }

@media only screen and (min-width: 768px) {
  .reservation-form__step-two {
    grid-template-columns: 1fr 1fr;
    border-radius: 6px; } }
.reservation-form__step-three {
  display: grid;
  background-color: var(--color-white); }

.step-three__step-three-container {
  padding: 1.6rem; }

.step-three__step-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem; }

.step-three__header {
  font-size: var(--font-2-6); }

.step-three__reservation-date-picker-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 2rem; }

.reservation-date-picker-container__reservation-time-picker {
  display: grid;
  grid-template-columns: 4fr 1fr 4fr;
  align-items: center;
  justify-items: center;
  font-size: var(--font-1-6); }

.reservation-date-picker-container__reservation-am-pm-picker {
  display: grid;
  grid-template-columns: 4fr 1fr 4fr;
  grid-template-areas: 'left middle right';
  font-size: 2.5rem; }

.reservation-am-pm-picker__inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center; }

@media only screen and (min-width: 768px) {
  .reservation-form__step-three {
    grid-template-columns: 1fr 1fr;
    border-radius: 6px; }

  .step-three__reservation-date-picker-container {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.5rem;
    grid-template-areas: 'date-left date-right' 'time-left time-right' 'submit-left submit-right'; }

  .reservation-date-picker-container__reservation-date-picker {
    grid-area: date-left; }

  .reservation-date-picker-container__reservation-time-picker {
    grid-area: time-left; }

  .reservation-date-picker-container__reservation-am-pm-picker {
    grid-area: time-right;
    grid-template-columns: 1fr; }

  .reservation-am-pm-picker__inner-container {
    justify-content: space-evenly; }

  .reservation-form__submit-btn--step-three {
    grid-area: submit-right; } }
.reservation-form__step-four {
  display: grid;
  grid-template-rows: 1fr 1fr; }

.step-four__inner-container {
  padding: 1.6rem;
  background-color: var(--color-white);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px; }

.step-four__step-four-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem; }

.step-four__header-text {
  font-size: var(--font-2-6); }

.step-four__step-four-form {
  display: grid;
  grid-template-columns: 1fr; }

.step-four__address-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 'header header header' 'address address address' 'apt - -'; }

.step-four__address-input-header {
  grid-area: header; }

.step-four__address-input {
  grid-area: address; }

.step-four__apt-input {
  grid-area: apt; }

.step-four__dropoff-container {
  width: 100%;
  display: flex;
  flex-direction: column; }

.step-four__step-four-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

@media only screen and (min-width: 768px) {
  .reservation-form__step-four {
    border-radius: 6px; }

  .step-four__step-four-form {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.5rem; }

  .step-four__step-four-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center; } }
.reservation-form__step-five {
  display: grid;
  grid-template-rows: 1fr 1fr; }

.step-five__inner-container {
  padding: 1.6rem;
  background-color: var(--color-white);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px; }

.step-five__step-five-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem; }

.step-five__header-text {
  font-size: var(--font-2-6); }

.step-five__step-five-form {
  display: grid;
  grid-template-columns: 1fr; }

.step-five__pickup-container {
  width: 100%;
  display: flex;
  flex-direction: column; }

.step-five__dropoff-container {
  width: 100%;
  display: flex;
  flex-direction: column; }

.step-five__additional-info {
  display: grid; }

.step-five__additional-info-form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem; }

.step-five__additional-info-header {
  min-width: 10rem;
  padding-right: 1rem; }

.step-five__additional-info-input {
  min-width: 10rem;
  max-width: 15rem;
  -webkit-appearance: none; }

.step-five__step-five-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

@media only screen and (min-width: 768px) {
  .reservation-form__step-five {
    border-radius: 6px; }

  .step-five__step-five-form {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.5rem; }

  .step-five__additional-info {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2.5rem; }

  .step-five__step-five-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center; } }
.reservation-form__step-six {
  display: flex;
  flex-direction: column; }

.step-six__inner-container {
  padding: 1.6rem;
  background-color: var(--color-white); }

.step-six__step-six-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem; }

.step-six__header-text {
  font-size: var(--font-2-6); }

.step-six__step-six-content {
  display: grid; }

.step-six__step-six-form-container {
  display: flex;
  flex-direction: column; }

.step-six-form-container__step-six-line-container {
  font-size: var(--font-1-6);
  line-height: var(--line-150); }

.step-six-line-container__step-six-line-title {
  color: var(--color-input-label); }

.step-six-line-container__step-six-line-content {
  font-weight: bold; }

.step-six__step-six-comments-container {
  font-size: var(--font-1-6);
  margin-bottom: 1rem; }

.step-six-comments-container__title {
  color: var(--color-input-label); }

.step-six__step-six-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

@media only screen and (min-width: 768px) {
  .reservation-form__step-six {
    border-radius: 6px; }

  .step-six__step-six-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem; }

  .step-six__inner-container {
    border-radius: 6px; }

  .step-six__step-six-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center; } }
.reservation-form__step-seven {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white); }

.step-seven__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  padding: 16px;
  box-shadow: 0px 34px 64px rgba(0, 0, 0, 0.09); }

.step-seven__thank-you-text {
  font-size: var(--font-32);
  margin-bottom: 2rem; }

@media only screen and (min-width: 768px) {
  .reservation-form__step-seven {
    flex-direction: row;
    border-radius: 6px; } }
:root {
  --color-description: #9E9E9E;
  --color-button: #1F1D1D;
  --color-base: #000080;
  --color-red: #DF2C21;
  --color-blue: #80B9CD;
  --color-light-blue: #E3F2F8;
  --color-green: #4DDC40;
  --color-footer: #232121;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-input-border: #D1D1D1;
  --color-input-background: #F6F6F6;
  --color-input-label: #535353;
  --font-16: 16px;
  --font-22: 22px;
  --font-26: 26px;
  --font-32: 32px;
  --font-44: 44px;
  --font-1: 1rem;
  --font-1-3: 1.3rem;
  --font-1-6: 1.6rem;
  --font-1-8: 1.8rem;
  --font-2: 2rem;
  --font-2-2: 2.2rem;
  --font-2-6: 2.6rem;
  --font-3-2: 3.2rem;
  --font-4-4: 4.4rem;
  --line-120: 120%;
  --line-150: 150%; }

html {
  font-size: 62.5%; }

.mb-16 {
  margin-bottom: 16px; }

.mb-45 {
  margin-bottom: 45px; }

.navbar {
  width: 100%;
  display: flex;
  justify-content: center; }

.navbar-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.6rem; }

.navbar-mobile__logo-container {
  height: 4.5rem;
  margin-bottom: 1rem; }

.navbar-mobile__menu {
  display: none; }

.navbar-desktop {
  display: none;
  grid-template-columns: 1fr 1.2fr;
  grid-template-rows: 1fr;
  grid-gap: 10rem;
  max-width: 1280px; }

.navbar-desktop__navbar-desktop-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem; }

.navbar-desktop__logo-container {
  height: 4rem; }

.call-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-red);
  padding: 8px 16px; }

.call-btn--desktop-navbar {
  margin-left: 16px; }

.call-btn--mobile {
  display: none; }

.call-btn__phone-img-container {
  height: 2rem; }

.call-btn__phone-img {
  height: 2rem; }

.call-btn__text {
  font-size: var(--font-2);
  font-weight: bold;
  color: var(--color-white);
  margin-left: 10px;
  white-space: nowrap; }

.navbar__navbar-links {
  display: flex;
  align-items: center; }

.navbar-links__navbar-link {
  font-size: var(--font-1-6);
  text-decoration: underline;
  padding-right: 16px;
  white-space: nowrap; }

.navbar-links__navbar-link:hover {
  background-color: #F6F6F6; }

.navbar-links__navbar-link:active {
  background-color: #E7E7E7; }

@media only screen and (min-width: 768px) {
  .call-btn--mobile {
    display: block; } }
@media only screen and (min-width: 1024px) {
  .navbar-mobile {
    display: none; }

  .navbar-desktop {
    display: grid; } }
@media only screen and (min-width: 1280px) {
  .navbar-links__navbar-link {
    padding-left: 2rem;
    padding-right: 2rem;
    line-height: 7.2rem; } }
@media only screen and (min-width: 1440px) {
  .navbar-desktop__logo-container {
    height: 4.5rem; } }
.top {
  position: relative;
  height: 20rem;
  width: 100%;
  background-image: url("../images/bg.jpg");
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover; }

.top__car-image {
  position: absolute;
  z-index: 1;
  bottom: -9rem;
  left: 50%;
  transform: translateX(-50%);
  height: auto;
  width: auto;
  max-height: 250px;
  max-width: 100%; }

@media only screen and (min-width: 1024px) {
  .top {
    height: 60vh; }

  .top__car-image {
    display: none; } }
.reservation-form {
  width: 100%;
  max-width: 1280px;
  margin-top: 8rem; }

@media only screen and (min-width: 768px) {
  .reservation-form {
    width: 67%;
    max-width: 1280px;
    margin-top: 44vh; } }
@media only screen and (min-width: 1024px) {
  .reservation-form {
    margin-top: 39vh; } }
@media only screen and (min-width: 1280px) {
  .reservation-form {
    margin-top: 30vh; } }
@media only screen and (min-width: 1440px) {
  .reservation-form {
    margin-top: 28vh; } }
.home-content__outside-mission-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--color-light-blue); }

.home-content__mission-container {
  display: flex;
  flex-direction: column; }

.mission-container__mission-photo {
  width: 100%; }

.mission-container__mission-content {
  width: 100%;
  padding: 16px; }

.mission-content__text {
  font-size: var(--font-1-8);
  line-height: var(--line-150); }

@media only screen and (min-width: 1024px) {
  .home-content__mission-container {
    width: 67%;
    max-width: 1280px;
    padding-top: 80px;
    padding-bottom: 80px;
    flex-direction: row; }

  .mission-container__mission-photo {
    width: 50%; }

  .mission-container__mission-content {
    width: 50%;
    padding: 0;
    margin-left: 3rem; } }
.mission-mobile-container {
  display: flex;
  flex-direction: column; }

.mission-mobile-container__content {
  display: flex;
  flex-direction: column;
  background-color: #E3F2F8;
  padding: 2rem 2rem 0 2rem; }

.mission-mobile-container__header {
  font-size: var(--font-2-6);
  line-height: 150%;
  padding-bottom: 2rem; }

.mission-mobile-container__text {
  font-size: 2rem;
  line-height: 150%;
  padding-bottom: 2rem; }

:root {
  --color-description: #9E9E9E;
  --color-button: #1F1D1D;
  --color-base: #000080;
  --color-red: #DF2C21;
  --color-blue: #80B9CD;
  --color-light-blue: #E3F2F8;
  --color-green: #4DDC40;
  --color-footer: #232121;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-input-border: #D1D1D1;
  --color-input-background: #F6F6F6;
  --color-input-label: #535353;
  --font-16: 16px;
  --font-22: 22px;
  --font-26: 26px;
  --font-32: 32px;
  --font-44: 44px;
  --font-1: 1rem;
  --font-1-3: 1.3rem;
  --font-1-6: 1.6rem;
  --font-1-8: 1.8rem;
  --font-2: 2rem;
  --font-2-2: 2.2rem;
  --font-2-6: 2.6rem;
  --font-3-2: 3.2rem;
  --font-4-4: 4.4rem;
  --line-120: 120%;
  --line-150: 150%; }

html {
  font-size: 62.5%; }

.mb-16 {
  margin-bottom: 16px; }

.mb-45 {
  margin-bottom: 45px; }

.footer {
  display: grid;
  place-items: center;
  width: 100%;
  background-color: var(--color-footer);
  padding: 16px;
  color: var(--color-white);
  font-size: 1.3rem; }

.footer__content {
  display: grid;
  max-width: 1440px; }

.footer-logos {
  display: flex;
  justify-content: center;
  align-items: center; }

.footer__payment-logo-container {
  width: 80px;
  margin: 8px 35px; }

.footer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: var(--line-120); }

.footer-info__desktop {
  display: none; }

.footer-info__terms {
  margin-top: 16px; }

@media only screen and (min-width: 768px) {
  .footer {
    padding: 30px 0; }

  .footer__content {
    width: 67%;
    max-width: 1280px;
    grid-template-columns: 4fr 1fr; }

  .footer-info__mobile {
    display: none; }

  .footer-info__desktop {
    display: block; }

  .footer-info {
    grid-column: 1 / 2;
    grid-row: 1 / 2; }

  .footer-logos {
    grid-column: 2 / 3; } }

/*# sourceMappingURL=main.css.map */
