@import 'placeholders';

.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    // width: 100%;
}

.navbar-mobile__logo-container {
    height: 45px;
}

.navbar-mobile__menu {
    display: none;
}

.navbar-desktop {
    display: none;
    flex-direction: row;
    align-items: center;
    max-width: 1280px;
}

.navbar-desktop__logo-container {
    height: 45px;
}

.call-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-red;
    padding: 8px 16px;
}

.call-btn__phone-img {
    height: 24px;
}

.call-btn__text {
    font-size: $font-22;
    color: $color-white;
}

@media only screen and (min-width: 768px) {
    .navbar-mobile {
        display: none;
    }

    .navbar-desktop {
        display: flex;
    }
}